
.carousel-item img {
  width: 1400px; /* Establece la anchura */
  height: 400px; /* Establece la altura */
  object-fit: cover; /* Escala la imagen para cubrir todo el contenedor manteniendo su relación de aspecto */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

/* Acerca de */
.acerca-de .foto .nombre {
	color: #545454;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
}

.acerca-de .info .titulo {
	color: #005385;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 30px;
}

/*--- NavApp ---*/
.custom-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: blue; /* Color del texto */
  text-decoration: underline; /* Subrayado */
}
/*--- FeaturePostApp ---*/

.contenedor-imagen {
	max-height: 250px;
	overflow: hidden;
}

.contenedor-imagen a {
	background: #3da5e2;
	display: inline-block;
}

.contenedor-imagen:hover img {
	opacity: .3;
}
/* --- AuthLogin ---*/
.login_box{
	background: #fafafa;
	box-shadow:2px 3px 3px #545454 ;
	padding:10px;
}
.login_box .title_login{
	margin-bottom: 15px;
}
.login_box .login_form input, .login_box .login_form form label{
	margin-left:3px;
}
.login_box .login_btn_submit{
	width: 100%;
	padding:4px;
	font-size: 20px;
	margin-bottom: 0;
}